@tailwind components;

@layer components {
  .global-margin {
    @apply max-w-7xl;
    @apply mx-8;
    @apply md:mx-10;
    @apply xl:mx-20;
    @apply 2xl:mx-auto;
  }

  .image-margin {
    @apply max-w-screen-xl mx-auto;
  }

  .header {
    @apply font-urbanist text-8xl font-semibold leading-17;
  }

  h1.desktop {
    @apply font-urbanist text-7xl font-semibold leading-16;
  }

  h1.mobile {
    @apply font-urbanist text-5xl font-semibold leading-13; 
  }

  h2.desktop {
    @apply font-urbanist text-6xl font-semibold leading-14;
  }

  h2.mobile {
    @apply font-urbanist text-3xl font-semibold leading-13;
  }

  h3.desktop {
    @apply font-urbanist text-4xl font-semibold leading-13;
  }

  h3.mobile {
    @apply font-urbanist text-2xl font-semibold leading-10;
  }

  h4.desktop {
    @apply font-urbanist text-xl font-medium leading-10;
  }

  h4.mobile {
    @apply font-urbanist text-lg font-semibold leading-10;
  }

  h5.desktop {
    @apply font-manrope text-xs font-semibold leading-9;
  }

  h5.bold {
    @apply font-manrope text-xs font-extrabold leading-9;
  }

  h5.mobile {
    @apply font-urbanist text-base font-medium leading-10;
  }

  h6 {
    @apply font-manrope text-xxs font-bold leading-6;
  }

  .p-xl {
    @apply font-urbanist text-3xl font-normal leading-14;
  }
  
  .p-lg {
    @apply font-manrope text-xl font-normal leading-13;
  }

  .p-base {
    @apply font-manrope text-base font-normal leading-10;
  }

  .p-sm {
    @apply font-manrope text-xs font-normal leading-7;
  }

  .link-lg {
    @apply font-manrope text-xl font-semibold leading-13 underline;
  }

  .link-base {
    @apply font-manrope text-base font-medium leading-11 underline;
  }

  .button {
    @apply font-manrope text-base font-bold leading-10;
  }

  .table-base {
    @apply font-manrope text-base font-semibold leading-3;
  }

  .table-sm {
    @apply font-manrope text-xs font-semibold leading-4;
  }

  .breadcrumb {
    @apply font-manrope text-xs font-medium leading-5 uppercase;
  }

  .popup-base {
    @apply font-manrope text-base font-medium leading-8;
  }

  .popup-sm {
    @apply font-manrope text-xs font-medium leading-6;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


.newlineDisplay {
  white-space: break-spaces;
}

.twoLines {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.link-hover:hover {
  cursor: pointer;
}

.bg-opacity {
  --tw-bg-opacity: 0.13;
}

.container {
  display: inline-flex;
  align-items: center;
}

.wrap {
  word-wrap: break-word;
}

.gradient-overview {
  background: linear-gradient(rgba(248, 250, 248, 0) 0%, #F8FAF8 30%);
}

/* RENAME as this is also for Thema Hero */
.gradient-pdf {
  background: linear-gradient(#042D36 0%, rgba(34, 83, 44, 0) 100%);
}

.thema-hero-gradient {
  background: linear-gradient(rgba(34, 83, 44, 0) 0%, #042D36 100%);
}

.extended-measures-gradient {
  background: linear-gradient(rgba(248, 250, 248, 0) 0%, #F8FAF8 100%);
}

.measure-bg {
  background: '#F5F5F5';
}

[type='checkbox']:checked {
  background-color: #22532c !important;
  border: 1px solid #22532c !important;
}

[type='checkbox']:focus {
  border-color: #22532c !important;
}

[type='checkbox']:not(:checked)  {
  border-color: #DAD8D8 !important;
  background-color: #F8FBF8 !important;
}